ion-buttons {
  padding: 7px;

  ion-tab-button {
    background-color: transparent;

    ion-icon {
      font-size: 20px;
    }

    ion-label {
      margin-top: 3px;
      letter-spacing: 1px;
    }
  }
}
